# Environment Variables
MONGODB_URI=mongodb+srv://arpitgarg5689:<db_password>@minetext.fgzhz3t.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
PORT=3000
NODE_ENV=development
UPLOAD_DIR=./uploads